body {
  background-image: url("https://images.unsplash.com/photo-1577660097552-ef733c1399c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  /*background-position-y helped superficially shorten a tall vertical picture*/
  background-position-y: 60%;
  background-size: cover;
  background-repeat: no-repeat;
}

.sticks {
  display: flex;
  /*grid-template-columns: 1fr 1fr;
  align-self: center;*/
  justify-content: space-between;
}

.left-sticks,
.right-sticks {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 70px;
  padding: 10px;
}

.left-sticks div {
  background: white;
  border: 1px solid;
  border-radius: 3px;
  height: 5px;
  margin: 7px 0;
  transition: all 1s;
}

/** fun twirly animation **/

.left-sticks:hover div:first-of-type {
  transform: translateY(6px) rotate(135deg);
}

.left-sticks:hover div:last-of-type {
  transform: translateY(-15px) rotate(-135deg);
}

.right-sticks div {
  background: white;
  border: 1px solid;
  border-radius: 3px;
  height: 5px;
  margin: 7px 0;
  cursor: pointer;
  transition: all 420ms ease-in-out;
}

.right-sticks:hover {
  transform: scale(1.2);
  border-color: purple;
  box-shadow: 0 0 12px purple;
}

.side-menu-design {
  background-color: gray;
  cursor: pointer;
  opacity: 0;
  transform: translateX(100%);
  transition: 0.4s ease-in-out;
  z-index: 5;
}

/* the part of the side menu with the exit button */
.side-menu-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  z-index: 5;
}

/* the part of the menu with the links */
.side-menu-content {
  color: black;
  font-size: 24px;
  margin: 25px;
  padding-left: 0;
  z-index: 5;
}

.side-menu-content li {
  list-style: none;
  margin-bottom: 10px;
  z-index: 5;
}

#clips {
  padding-bottom: 25px;
}

/* additional side menu link styling */
a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: purple;
}
.show-menu {
  opacity: 1;
  transform: translateX(750px);
}

/* define container holding all my keys */
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: center;
}

/* define styling for each key */
.key {
  border: 6px solid #ef42f5;
  border-radius: 50%;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 2rem 0.5rem;
  transition: all 100ms;
  width: 100px;
  text-align: center;
  color: white;
  background: #ce42f5;
  cursor: pointer;
}

/** visual indicator to show note that is playing **/
.playing {
  transform: scale(1.2);
}

kbd {
  display: block;
  font-size: 40px;
  font-family: gothic;
  pointer-events: none;
  /* this prevents text selection on specific browsers */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sound {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #5032a8;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.notes {
  display: flex;
  height: 100%;

  /* I wanted the slideshow of notes to be near the bottom right of the page */
  position: absolute;
  margin-top: 285px;
  margin-left: 250px;
}

/* overflow property ensures scrolling mechanism shows up for overflowing boxes */
.slider {
  width: 525px;
  text-align: center;
  overflow: auto;
  box-sizing: border-box;
}

.slides {
  display: flex;
  overflow-x: scroll;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: #ef42f5;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 500px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
